* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-image: -webkit-linear-gradient(30deg, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background: -moz-linear-gradient(30deg, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background: linear-gradient(30deg, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    background: rgb(30deg, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    margin-left: 32%;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

nav {
    text-align: center;
}

.body_paragraph {
    text-indent: 4%;
}

h1,
h2 {
    border-bottom: 10px inset #931420;
    display: inline-flex;
    background-color: aqua
}

p {
    margin-top: 2em;
    height: 10%;
    width: 99%;
}

footer {
    text-align: center;
    margin-top: 2em;
}

#contact_info p {
    padding: 0;
    margin: 0;
    text-align: center;
}

#contact_info {
    margin-bottom: 1em;
}

header {}

#flower {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
