h1 {
    text-align: center;
    background-color: green;
    margin-top: 0;
    margin-bottom: 5px;
}

h3 {
    text-align: center;
    margin: 5px;

}

.container {
    background-color: darkgreen;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 5%;
}

#section1 {
    background-color: green;
    margin: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 1px;
}

#section2 {
    background-color: green;
    margin: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 1px;
}

#section3 {
    background-color: green;
    margin: 10px;
    margin-top: 10px;
}

h4 {
    margin-top: 10px;
}

.input-field {
    margin-left: 50px;
}

#submit-button {
    text-align: center;
    margin: 10px auto;
}

#fieldset1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 70px;
    padding-right: 200px;
}

#fieldset2 {
    display: inline-block;
    padding-right: 200px;
}
