#navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background: #ddd;
    color: black;
}

#header {
    width: 90%;
    margin-top: 4em;
}

#container {
    position: absolute;
    width: 80%;
    height: 100%;
    margin-top: 7em;
}

#myName {
    margin-top: 0.7em;
    margin-bottom: 0;
    float: left;
    position: relative;
    left: 45%;

}

#headline {
    margin-top: 1.19em;
    margin: ;
    float: left;
    position: relative;
    left: 45%;
}

#section {
    float: left;
    width: 50%;
}

img {
    position: absolute;
    left: 5%;
}

#aside {
    float: right;
    width: 40%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}

h1 {
    font-weight: 500;
}

h2 {
    color: gray;
}

.unorderedList {
    font-style: italic;
}

.orderedList {
    font-style: italic;
}

.resumeHead2 {
    color: red;
}
