h1 {
    animation: moveright 3s 2s infinite ease-in-out alternate;
}

@keyframes moveright {
    from {
        margin-left: 0%;
        color: blue;
    }

    to {
        margin-left: 80%;
        color: red;
    }
}
