#index_body {
    background-image: url(images/Wall-Dirt-Texture.jpg);
    background-repeat: repeat-y;
}

#product_body {
    background-image: url(images/Wall-Dirt-Texture.jpg);
    background-size: 500px 108px;
    background-repeat: repeat-x;
}

footer {
    margin-top: 100px;
    background-color: lightblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: darkblue;
    border: 2px dashed darkblue;
}

#notice {
    width: 80%;
    text-align: center;
}

.class {
    border-bottom: 2pt dotted black;
    color: black;
}

h1 {
    background-color: rgba(50, 50, 15, 50%);
    text-shadow: 5px 7px 5px #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
}

#feature {
    font-size: small;
    color: red;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    width: 80%;
    text-shadow: 2px 2px 5px #000000;

}

main small {
    margin-left: 600px;
}

#about_me {
    text-align: center;
}

/*NUMBER 7 EXAMPLES */

a[href] {
    margin-left: 14.1%;
}

main ol li {
    color: darkslategrey;
}

ul li {
    color: coral;

}

#about_me,
h2 {
    font-family: monospace;
}

.about_links:hover {
    -webkit-box-shadow: 10px 10px 10px 5px #000000;
    box-shadow: 10px 10px 60px 5px #000000;
}

.about_paragraph::first-letter {
    font-size: 120%;
    font-style: italic;
}

.about_paragraph {
    line-height: 1.5em;
}

#copyright {
    background-color: white;
    text-align: center;
    font-style: italic;
}

#about_header_paragraph {
    margin-top: 2%;
    border-top: 2pt solid black;
}
