body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 600px;
    margin: 0 auto;
    padding: 0 2em 1em;
    border: 3px solid blue;
}

h1 {
    color: blue;
    margin-bottom: .25em;
}

p {
    margin-left: 6em;
}

label {
    float: left;
    width: 16em;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
    margin-right: .5em;
    width: 15em;
}

.button {
    width: 6em;
}
