/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/

/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
    text-align: center;
}

#features img {
    0 0 20px;
}

inputMessage {
    margin-bottom: 15px;
}

footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

.jumbotron {
    background: #333;
    color: #eee;
}

.hobbyImage {
    max-width: 60%;
    max-height: 70%;
}

.col-sm-4 {
    width: 33.33%;
    height: 20em;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.well .page-header {
    margin-top: 0;
}

.well .page-header h1 {
    margin-top: 0;
}

ul.unstyled {
    list-style: none;
    padding: 0;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
    width: 200px;
}

.navbar-brand {
    padding: 13px 15px;
}

.glyphicon {
    margin-right: 6%;
}

.caret {
    float: right;
    margin-right: -4%;
}

.course_header {
    margin: 0;
    text-align: center;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */

/* --------------------------------------
   Global Styles
   -------------------------------------- */

.well {
    margin: 20px 0;
}

.alert {
    margin-top: 20px;
    display: none;
}

.tabbable img.thumbnail {
    margin: 0 20px 20px 0;
}

.well h3 {
    margin: 0;
}

.thumbnails {
    margin: 20px 0;
}

.thumbnail {
    position: relative;
}

.thumbnail h3 {
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 20px;
}

.thumbnail .price {
    font-size: 22px;
    position: absolute;
    top: -10px;
    right: -10px;
    padding 10px;
}

.thumbnail .price sup {
    font-weight: normal;
    top: -0.5em;
    font-size: 12px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */

@media (max-width: 480px) {
    .hobbyImage {
        max-width: 60%;
        max-height: 70%;
    }

    .col-sm-4 {

        width: 33.33%;
        margin-bottom: 0%;
        padding-bottom: 0%;
        height: 5em;
    }
}

/* Landscape phone to portrait tablet */

@media (max-width: 768px) {}

/* Large desktop */

@media (min-width: 1200px) {}
