#{
 margin: 0;
padding: 0;
}

#nav_list ul {
    list-style-type: none;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
}

#nav_list ul li {
    width: 200px;
    margin-bottom: .5em;
}


#nav_list ul li a {
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    border: medium solid blue;
    color: blue;
}


#nav_list ul li a.current {
    background-color: silver;
}

/*CSS for first horizontal navigation*/

#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}

#nav_menu ul li a {
    font-weight: bold;
    color: blue;
}

#nav_menu ul li a.current {
    text-decoration: none;
}


/*CSS for second horizontal navigation*/

#nav_menu_2 ul {
    list-style-type: none;
}

#nav_menu_2 ul li {
    float: left;
}

#nav_menu_2 ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu_2 ul li a.lastitem {
    border-right: none;
}

#nav_menu_2 ul li a.current {
    color: yellow;
}


/*CSS for 2 tier navigation */

#nav_menu_3 ul {
    list-style: none;
    position: relative;
}

#nav_menu_3 ul li {
    float: left;
}

#nav_menu_3 ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}



#nav_menu_3 ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu_3 ul ul li {
    float: none;
}

#nav_menu_3 ul li a.current {
    color: yellow;
}


#nav_menu_3 ul li:hover > ul {
    display: block;
}

#nav_menu_3 > ul::after {
    content: "";

    display: block;

    clear: both;
}

/*CSS for 3 tier navigation*/

#nav_menu_4 ul {
    list-style-type: none;
    position: relative;
}

#nav_menu_4 ul li {
    float: left;
}

#nav_menu_4 ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 3em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu_4 ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu_4 ul ul li {
    float: none;
    position: relative;
}

#nav_menu_4 ul ul li ul {
    position: absolute;
    left: 78%;
    top: 0;
}

#nav_menu_4 ul li.lastitem ul li ul {
    position: absolute;
    left: 78%;
    top: 0;
}

#nav_menu_4 ul li:hover > ul {
    display: block;
}

#nav_menu_4 > ul::after {
    content: "";
    clear: both;
    display: block;
}

#nav_menu_4 ul li a {
    text-align: center;
    display: block;
    width: 176px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
}

#nav_menu_4 ul li.lastitem a {
    width: 178px;
}

#nav_menu_4 ul li a.current {
    color: yellow;
}

#nav_menu_4 ul li a:hover,
#nav_menu_4 ul li a:focus {
    background-color: gray;
}
