body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100 */
    background: rgb(157, 213, 58);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0);
    /* IE6-9 */
    background-repeat: no-repeat;
    background-color: #7cbc0a;
}

h1 {
    font-size: 100px;
    background-image: url(../images/Checkmark.png);
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    padding-left: 2em;
}

h1,
h2 {
    text-shadow: 2px 2px 2px #000000;
}

nav {
    margin-bottom: 30px;

}

nav a {
    text-align: center;
    margin-left: 200px;
    font-size: 18px;
}

#wrapper {
    width: 99.99%;
    -webkit-box-shadow: 2px 5px 2px 2px #000000;
    box-shadow: 2px 5px 2px 2px #000000;
}

#placeholder {
    text-align: center;
}



#columns {
    float: left;
    margin-left: 3.33%;
    width: 30%;
}

footer {

    margin-top: 10px;
    text-align: center;
    clear: both;
}
