h2 {
    text-align: center;
}

/*Display: Flex*/

.parent {
    border: 5px solid lightcoral;
}

.item {
    height: 50px;
    margin: 5px;
    background: DeepSkyBlue;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.parent {
    display: flex;
}

.item {
    width: 50px;
}

/*Display: Row-Reverse*/

.parent2 {
    border: 5px solid lightcoral;
}

.item2 {
    height: 50px;
    margin: 5px;
    background: DeepSkyBlue;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.parent2 {
    display: flex;
    flex-direction: row-reverse;
}

.item2 {
    width: 50px;
}

/*Display: Column Reverse*/

.parent3 {
    border: 5px solid lightcoral;
}

.item3 {
    height: 50px;
    margin: 5px;
    background: DeepSkyBlue;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.parent3 {
    display: flex;
    flex-direction: column-reverse;
}

.item3 {
    width: 50px;
}

/*Display: Flex-Wrap*/

.parent4 {
    border: 5px solid lightcoral;
}

.item4 {
    height: 50px;
    margin: 5px;
    background: DeepSkyBlue;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.parent4 {
    display: flex;
    flex-wrap: wrap;
}

.item4 {
    width: 30%;
}

/*Display: Justify-Content*/

.parent5 {
    border: 5px solid lightcoral;
}

.item5 {
    height: 50px;
    margin: 5px;
    background: DeepSkyBlue;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.parent5 {
    display: flex;
    justify-content: center;
}

.item5 {
    width: 100px;
}
