body {
    width: 1036px;
    height: 560px;
    margin: 0 auto;
}

h3 {
    margin-left: 35%;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

#top {
    display: flex;
}

#bottom {
    display: flex;
}

#top p {
    float: left;
    text-align: center;
}

#bottom p {
    float: left;
    text-align: center;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px
}

p {
    margin-top: 0;
}
