* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 15px auto;
    border: 2px solid white;
    margin: 0;
}

header {
    border-bottom: 2px solid white;
    background-color: black;
    height: 60px;
    margin-top: 0;
}

main {
    height: 354px;
    width: 100%;
    float: left;
    border: 2px solid white;
    background-color: lightgray;
    margin: 0 auto;
}

footer {
    clear: both;
    border-top: 2px solid white;
    background-color: black;
    height: 60px;
}

#demoparagraph {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-column-rule: 2px solid white;
    -moz-column-rule: 2px solid white;
    column-rule: 2px solid rgba white;
    float: left;
    margin-top: 2px;
    background-color: darkviolet;
}
