* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    background-color: #CCCCCC;
}

h1 {
    font-family: "Times New Romans";
    color: #CCCCCC;
}

.news {
    color: red;
    font-style: italic;
}
